* {
    margin: 0;
    padding: 0
}

html, body {
    height: 100%
    
}
ul {
    list-style-position: inside;

}
body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    background: #f7f7f7 none repeat scroll 0 0
}

.sale-product-img {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.sale p {
    text-indent: 0 !important;
    text-align: center !important;
    color: white !important;
    line-height: 1 !important;
    position: relative !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    margin: 0 !important
}

.sale {
    position: absolute;
    top: -10px;
    left: -14px;
    text-align: center;
    color: #fff;
    width: 110px;
    height: 110px;
    background: url(../images/sale-icon.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    margin: 0;
    padding: 3px 0;
    font-size: 20px;
    display: inline-block;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none
}

.ac_footer {
    position: relative;
    top: 10px;
    height: 0;
    text-align: center;
    margin-bottom: 70px;
    color: #a12000
}

.ac_footer a {
    color: #a12000
}

.ac_footer p {
    text-align: center
}

img[height="1"], img[width="1"] {
    display: none !important
}

.form-bg_top {
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .6);
    max-width: 390px;
    width: 100%;
    box-sizing: border-box
}

.form-bg_top p {
    text-indent: 0 !important;
    text-align: center !important;
    margin: 0 !important
}

.product-sh {
    padding-left: 9px;
    padding-right: 9px
}

.product-sh--text {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    font-family: Arial, Helvetica, sans-serif
}

.product-how-much {
    color: #ffde00;
    font-size: 24px;
    line-height: 25px;
    padding-top: 2px;
    letter-spacing: -1px;
    font-family: "Roboto-BoldItalic", Arial, Helvetica, sans-serif
}

img.line-dot {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px
}

.coast-offer {
    color: #ffde00;
    font-size: 23px;
    margin-top: 35px;
    line-height: 11px;
    letter-spacing: -1px;
    font-family: Arial, Helvetica, sans-serif
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .form-bg_top {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .6)
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .wrap-price--top {
    text-align: center;
    padding-bottom: 10px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-old-wrap--top, .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-new-wrap--top {
    display: inline-block;
    vertical-align: top;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-old-wrap--top {
    /* padding: 0 5px 0 0 */
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-new-wrap--top {
    margin: 10px;
    background: url("../images/price-bg.png") no-repeat 0 0;
    width: 142px;
    height: auto;
    padding: 10px 10px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-old-text--top {
    color: #fff;
    padding-bottom: 0;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.03em;
    padding-left: 30px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px !important;
    text-align: left !important
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-old-x--top {
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-old-currency--top {
    font-size: 17px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-old-x--top:before {
    content: " ";
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 46%;
    left: 0
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-new-text--top {
    color: #ffde00;
    font-size: 13px;
    line-height: 13px;
    padding-left: 0;
    letter-spacing: -0.03em;
    font-family: Arial, Helvetica, sans-serif
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-new-x--top {
    color: #ffde00;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
    font-family: Arial, Helvetica, sans-serif;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-new-currency--top {
    font-size: 18px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .timer-wrap {
    width: 291px;
    margin: 0 auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: none !important;
    background: url('../images/timer-bg.png') no-repeat;
    padding-bottom: 20px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .timer-title {
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 2px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .timer-title span {
    padding: 0 6px;
    margin-top: -6px;
    display: inline-block;
    vertical-align: top;
    font-weight: 600
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .timer-new {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 4px;
    direction: ltr;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .timer__index {
    display: inline-block;
    vertical-align: top;
    background: url("../images/bg-timer.png") no-repeat 0 0;
    width: 55px;
    height: 41px;
    text-align: left
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .timer__item {
    display: block;
    padding: 3px 0 0 6px;
    letter-spacing: 10px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .timer__point {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    position: relative
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .timer__point:before, .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .timer__point:after {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    content: '';
    width: 5px;
    height: 5px;
    left: 3px;
    top: 10px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .timer__point:after {
    top: 25px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .under-timer {
    text-align: center;
    margin: 0 24px -5px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .under-timer span {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 14px;
    width: 31%
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .form-main {
    position: relative;
    padding: 11px 9px 0
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .form-main:after {
    content: ' ';
    background: url("../images/arrow-form.png") no-repeat 0 0;
    width: 42px;
    height: 85px;
    position: absolute;
    bottom: 43px;
    left: -36px;
    z-index: -1
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .label--top {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    padding-bottom: 6px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .input-form, .select-form {
    width: 100%;
    border: 0;
    padding: 0 10px 0 48px;
    height: 36px;
    color: #000;
    font-size: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 7px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .input-form--name {
    background: url("../images/icon-name.png") no-repeat 11px center #fff;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .input-form--phone {
    background: url("../images/icon-phone.png") no-repeat 12px center #fff;
    direction: ltr;
    text-align: right;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .form-shipment {
    text-align: center;
    color: #fff;
    font-size: 16px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .form-shipment span {
    font-weight: bold
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .select-form {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/planet.png), url(../images/select.png);
    background-position: 12px center, 97% center;
    background-repeat: no-repeat, no-repeat;
    background-color: #fff
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .submit-form {
    width: 100%;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: red;
    height: 65px;
    color: #fff;
    font-size: 22px;
    line-height: 22px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 1px 3px;
    letter-spacing: -1px;
    outline: 0;
    margin-top: 5px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .submit-form:hover {
    background: red
}

.justify {
    text-align: justify;
    font-size: 0;
    text-justify: newspaper;
    zoom: 1;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.justify:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 0;
    visibility: hidden
}

textarea, input {
    outline: medium none
}

a {
    color: #1697ce
}

a:hover {
    color: #b0493b
}

a img {
    border: medium none
}

a:focus {
    outline: medium none
}

h1 {
    font-size: 24px;
    font-weight: normal
}

h2 {
    font-size: 22px;
    font-weight: normal;
    line-height: 14px
}

.alex_zevsa_wcih4ECQW {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table
}

.clearfix::after {
    clear: both
}

.footer .contacts, .footer .site h4, .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe, .main-page .main-slider .share h4, .main-page .calendar .item .dvksub_rYPIQ4ET span, .sport-tv .left-blk, .main-page .map h4, .main-page .annonce-blk .dvksub_rYPIQ4ET span, .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    font-family: PFDinTextCondProMedium, Helvetica, Arial !important
}

.RA4CSZ_e3qI7YOg, .def-page .org-list h3, .def-page .org-list .type, .faq-page .news-list .sec-year, .media-page .news-list .sec-year, .sec-page .doc-list h4, .photo-page .photo-also .dvksub_rYPIQ4ET, .photo-page .photo-list .dvksub_rYPIQ4ET, .video-page .video-also .dvksub_rYPIQ4ET, .video-page .video-list .dvksub_rYPIQ4ET, .renul_seDwyoGn57 .dvksub_rYPIQ4ET, .zhanna_86_o5IKudBv h2, .root_f21XaquIT .news-list .dvksub_rYPIQ4ET, .root_f21XaquIT .top-blk .rss, .footer .address, .footer .copyrights, .main-page .map h2, .main-page .news h3, .main-page .news-blk .dvksub_rYPIQ4ET, .main-page .annonce-blk .dvksub_rYPIQ4ET, .main-page .main-slider h3, .main-page .calendar .day, .main-page .calendar .item .dvksub_rYPIQ4ET, .main-page .calendar .month-name, .main-page .ministr-blk .dvksub_rYPIQ4ET, .main-page .calendar h3, .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT a, .main-page .news-blk .links, .main-page .map .reg-news, .main-page .map h3, .main-page .annonce-blk .links, .katyakoncakova_FtFDdVex .region-btn {
    font-family: PFDinTextCondProRegular, Helvetica, Arial !important
}

.katyakoncakova_FtFDdVex {
    position: relative;
    z-index: 15
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    margin-top: 40px;
    float: left;
    width: 360px;
    text-decoration: none;
    color: black;
    display: block;
    position: relative
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC img {
    width: 100px;
    float: left;
    padding-right: 5px
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    padding: 5px
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC p {
    padding-top: 23px;
    font-weight: 600;
    text-transform: uppercase
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
    font-size: 18px;
    margin-top: 17px;
    margin-left: 18px;
    width: 265px;
    float: left;
    text-transform: uppercase;
    line-height: 1
}

.katyakoncakova_FtFDdVex .vasilusya_rfYcdWbD {
    float: right;
    font-size: 12px;
    margin-top: 5px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
    width: 330px;
    float: right;
    margin-top: 60px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .mansurovan_vUZn4RQN {
    text-align: right;
    font-size: 12px;
    text-transform: uppercase;
    float: right
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .Dulov_V_V_du3BxPsUO {
    font-weight: bold;
    color: #353746
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a {
    color: #353744
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a:hover {
    color: #b0493d
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .udav_t_slEtc0GR {
    margin: 0 5px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .tata_soboleva_XjcqhmYZ7 {
    margin-top: 25px;
    position: relative;
    text-align: right
}

.katyakoncakova_FtFDdVex .tata_soboleva_XjcqhmYZ7 .tjn-02_ANHUDPcR {
    width: 170px;
    padding: 4px 5px
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
    margin-top: 10px;
    background: #0f6470 none repeat scroll 0 0;
    height: 57px
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk {
    list-style: outside none none
}

.katyakoncakova_FtFDdVex .main-menu-blk > li {
    display: inline-block;
    float: left;
    margin-right: 23px;
    position: relative;
    padding: 17px 10px
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe a {
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    text-decoration: none
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .submenu-btn {
    color: #cf4f3a;
    font-style: normal;
    margin-left: 4px
}

.alstep54_sglCGFT6q {
    font-size: 12px
}

.renul_seDwyoGn57 h2 {
    font-weight: bold;
    font-size: 36px;
    margin-top: 15px
}

.renul_seDwyoGn57 .dvksub_rYPIQ4ET {
    color: #6c6e7e;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 {
    margin-top: 25px;
    color: #6c6e7a;
    line-height: 1.5;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #b9b9b9;
    font-size: 18px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p {
    color: black;
    text-align: justify;
    margin: 15px;
    line-height: 31px;
    position: relative
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .swetlana40_GWDvkz8Tqs {
    text-indent: 0;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 22px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .maki555_e4AaJE9jYG {
    margin-top: 5px;
    font-size: 15px;
    line-height: 20px;
    padding: 10px;
    background: #ccc none repeat scroll 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75)
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .udalykhnn_av3FDRJhB {
    text-align: center
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .AGB_yQobO46Dw {
    margin-top: 10px;
    font-size: 13px;
    color: #a1a1a2
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv {
    /* float: left; */
    padding: 0 30px 10px 0;
    font-size: 12px;
    font-style: italic;
    color: #a1a1a8;
    position: relative;
    text-align: center;
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv .ewa-b_p5sjGkxr1 {
    margin-top: 5px
}

.zhanna_86_o5IKudBv {
    background: white none repeat scroll 0 0;
    padding: 35px 40px 40px;
    margin: 0 0 20px;
    border-radius: 4px
}

.zhanna_86_o5IKudBv h2 {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1;
    line-height: 30px
}

.altakansk_YrlOq5h6N {
    font-family: Arial;
    color: #6c6e83;
    margin: 0 5px
}

.dmavrodi_yjLIBb2Q {
    position: relative;
    z-index: 10
}

.web-s {
    font-family: WebSymbols;
    -moz-user-select: none
}

.sazonov66_g9ysODlqt {
    overflow-x: hidden;
    min-height: 100%;
    position: relative;
    background: #f7f7f7 none no-repeat scroll center top
}

.vk-container {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 15px;
    color: black;
    text-decoration: none
}

.vk-header {
    background: #dae2e8 none repeat scroll 0 0;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px
}

.vk-logo {
    background: transparent none no-repeat scroll 0 0;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: #45688e;
    font-weight: bold
}

.vk-avatar img {
    float: right;
    margin-left: 10px
}

.vk-comment, .vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #dae1e8;
    padding-bottom: 15px
}

.vk-comment:last-child {
    border-bottom: 0 none
}

.vk-comment-name {
    color: #2b587a;
    font-weight: bold;
    font-size: 12px
}

.vk-comment-text {
    overflow: hidden;
}

.vk-comment-date {
    margin-left: 60px;
    color: #999
}

.bloq {
    font-size: 24px;
    font-weight: normal
}

.btn {
    display: block;
    width: 50%;
    margin: 0 auto;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: red;
    color: #fff;
    font-size: 22px;
    line-height: 22px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 1px 3px;
    letter-spacing: -1px;
    outline: 0;
    margin-top: 5px;
    padding: 15px;
    text-decoration: none
}

.btn:hover {
    background: #be0000;
    color: #fff
}

.block_sale {
    max-width: 75px;
    height: 75px;
    position: absolute;
    right: 133px;
    top: -19px;
    line-height: 17px;
    width: 100%;
    background: url(../images/sale-icon.png) no-repeat;
    background-size: contain
}

.sale_50 {
    position: relative;
    width: 100%;
    display: block;
    height: 100%
}

.renul_seDwyoGn57 .sale_50 p {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    text-indent: 0;
    text-align: center;
    color: white
}

.burger {
    display: none
}

.docimg img {
    max-width: 250px
}

.gelat_Bb6MhOHv img {
    max-width: 100%;
}

@media screen and (max-width: 1020px) {
    .puzzle_LTiRtzPGfe .alex_zevsa_wcih4ECQW .main-menu-blk {
        display: none
    }

    .burger {
        display: block;
        margin: 0 auto;
        max-width: 30px
    }

    .alex_zevsa_wcih4ECQW {
        width: auto
    }

    .main-menu-blk {
        width: 100%;
        margin: 0 auto
    }

    .katyakoncakova_FtFDdVex .main-menu-blk > li {
        width: 16.666%;
        float: left;
        margin: 0;
        display: block;
        padding: 0;
        text-align: center;
        height: 100%
    }

    .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
        height: auto
    }

    .katyakoncakova_FtFDdVex .main-menu-blk > li a {
        line-height: 50px
    }

    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        width: 180px
    }

    .alex_zevsa_wcih4ECQW, .main-menu-blk {
        height: 100%
    }

    .web-s {
        display: none
    }

    body img {
        max-width: 100%
    }
}

@media screen and (max-width: 800px) {
    .justify, .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-new-text--top, .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .price-new-x--top {
        text-align: center !important;
        padding-left: 0
    }

    .sale-product-img {
        margin-bottom: 25px;
        margin-top: 25px
    }
}

@media screen and (max-width: 720px) {
    .katyakoncakova_FtFDdVex .main-menu-blk > li {
        width: 33.333%
    }

    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        display: none
    }

    .renul_seDwyoGn57 .gelat_Bb6MhOHv {
        margin: 0 auto;
        padding-right: 0;
        float: none;
        max-width: 300px
    }

    .renul_seDwyoGn57 .gelat_Bb6MhOHv > img {
        display: block;
        margin: 0 auto
    }
}

@media screen and (max-width: 420px) {
    .zhanna_86_o5IKudBv {
        padding-left: 10px;
        padding-right: 10px
    }

    .gelat_Bb6MhOHv img {
        display: block;
        margin: 0 auto
    }

    .alstep54_sglCGFT6q {
        display: none
    }

    .katyakoncakova_FtFDdVex .main-menu-blk > li {
        width: 50%
    }

    .udalykhnn_av3FDRJhB img, body img {
        max-width: 100%
    }

    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
        width: 320px
    }

    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
        width: 225px;
        font-size: 16px
    }

    .alex_zevsa_wcih4ECQW {
        padding: 0
    }

    .btn {
        font-size: 17px
    }
}

.screenLock {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none
}

.msg {
    position: absolute;
    width: 600px;
    height: 220px;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    background: #778691 none repeat scroll 0 0;
    border: 1px solid #eee
}

.msg > h1 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 30px;
    line-height: 1.8
}

.close {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 40px;
    cursor: pointer
}

.submit {
    display: block;
    margin-top: 10px;
    width: 400px;
    background-color: firebrick;
    color: #fff;
    font-size: 30px;
    border-radius: 3px;
    padding: 15px;
    margin-top: 10px
}

.submit {
    font-size: 24px !important
}

.submit {
    font-size: 24px !important
}

.submit:hover {
    background-color: #d82b2b !important;
    color: white !important;
    cursor: pointer
}

.spoil {
    color: black;
    cursor: pointer;
    background-color: #abebf3
}

.bg {
    font-weight: 600
}

.center {
    text-align: center !important;
    font-weight: 600;
    font-size: 24px
}

footer {
    text-align: center;
    padding-bottom: 10px
}

@media screen and (max-width: 352px) {
    .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .timer-wrap {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%)
    }
}